
@page "/http-response/{responseStatusCode:int}"
@using AdventureWorks.ViewModel;
<div class="card alert-danger">
    <div class="card-body">
        <div class="row">
            <div class="col">
                @HttpMessage
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <button type="button" class="btn btn-primary"
                @onclick="NavigateToHome">
            Navigate to the Home Page
        </button>
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5">
        If you want, you can report this error by clicking the following link:
        <a href="#">Report an error</a>
    </div>
</div>